
/*

body{
        
        width: 300px;
        height: 200px;
        display:flex;
       margin: 0 px;
       display:flex;
       flex-direction: row;
       align-items: end;
       justify-content: end;
       align-items: flex-start;
      
}

.section-green{
    width: 100px;
    height: 200px;
    background-color: green;
    
}

.section-left{
    width: 200px;
    height: 200px;
    background-color:white;
    
}

.red-section{
    width: 200px;
    height: 100px;
    background-color:red;
    position:absolute;
    bottom:100px;
    
}

.multi{
    width: 200px;
    height: 100px;
    background-color:white;
    position:absolute;
    top:10px;
    

}

.midle-tile{
    width: 100px;
    height: 100px;
    background-color:blue;
    position:absolute;
    top:0px;
    left:100px;
   
}


.yellow{
    width: 100px;
    height: 50px;
    background-color:yellow;
    position:absolute;
    top:50px;
    
}
.green{
    width: 100px;
    height: 50px;
    background-color:aquamarine;
    position:absolute;
    top:0px;
    
}*/


.container{

    height: 220px;
    width:300px;
    display:flex;
    gap:5px;
    margin:10px;
}

.section-green{
    border:1px solid green;
    height:210px;
    width:100px;
    background-color: green;
    font-size: 5px;
    color: white;
}

.red-section{
    border:1px solid red;
    height: 100px;
    width:200px;
    position:relative;
    bottom: 95px ;
    background-color: red;
    font-size: 5px;
    color: white;
}

.midle-tile{
    border:1px solid blue;
    height:100px;
    width:115px;
    position: relative;
    left:85px;
    bottom: 102px;
    background-color: blue;
    font-size: 5px;
    color:white;
}

.yellow{
    border:1px solid yellow;
    height: 50px;
    width:80px;
    background-color: yellow;
    position:relative;
    top:2px;
    font-size: 5px;
    color: black

}
.green{
    border:1px solid green;
    height: 50px;
    width:80px;
    background-color: green;
    font-size: 5px;
    color:white
}

.poza{
    border:1 px solid grey;
    height: 50px;
    width:100px;
    padding-left: 5px;
}

p, h2{
    margin:5px;
}