
 
 .display {
    background-color: yellow;
    border: 3px, solid yellow;
    padding: 10px;
}


.li {
    text-align: center;
    display: inline;

}

image{


    image:https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.britannica.com%2Ftechnology%2Fballoon&psig=AOvVaw0ECC8CyEj7LMxcwZG5ANKT&ust=1686850303441000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLjJnZulw_8CFQAAAAAdAAAAABA5;
    
}