
.form {
    color:skyblue;
}

.p {
  border-color: green;
}

form input:focus {
    outline-color: green;
} 

.Email {
    background-color: blue;
    font-size: 1px solid black;
}

input[type=submit] {
    color:black;
    background: green;

}

input[type=reset] {
    color: black;
    background:green;
}

.fild {
    background-color: salmon;
}


::placeholder {
    color: black;
}
